# Data Science Tools and Ecosystem

## Welcome to my notebook where I explore various data science concepts and tools.

## Data Science Languages
- Python
- R
- SQL
- Julia

## Data Science Libraries
- pandas (Python)
- NumPy (Python)
- ggplot2 (R)
- dplyr (R)

| Tool          | Type           | Use Case                           |
|---------------|----------------|------------------------------------|
| Jupyter       | IDE            | Interactive computing             |
| TensorFlow    | Library        | Machine Learning                   |
| Hadoop        | Framework      | Distributed storage & processing   |
| Tableau       | Visualization  | Business Intelligence              |

In this section, we'll explore basic arithmetic expressions like addition (`+`), subtraction (`-`), multiplication (`*`), and division (`/`).

In [2]:
# Example code cell
result = (5 * 3) + 2
print(result)

17

In [3]:
# Example code cell
minutes = 120
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

120 minutes is equal to 2.0 hours

## Objectives
- To understand the basics of data manipulation
- To learn how to visualize data
- To gain proficiency in data analysis

**Author:** Pankaj Sharma